body {
    background-color: #6495ED;
}
.main-contents {
	text-align: center;
    background-color: #6495ED;
    height: 100%;
    width: 800px;
}
head {
    text-align: right;
}
.messages {
    background-color: #6495ED;
}
label {
    display: block;
}
.errorMessages {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: red;
}
