body {
    background-color: #6495ED;
}
.main-contents {
    background-color: #6495ED;
    height: 100%;
    width: 800px;
}
head {
    text-align: right;
}
.messages {
    background-color: #6495ED;
}
.main-contents {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    height: 100%;
    width: 300px;
}
label {
    display: block;
}
.errorMessages {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
}